*
{
    /* to debug */
    /*border: solid 1px lightpink; */
    box-sizing: border-box;
    /*min-width: 0;*/
    /*min-height: 0;*/
    margin: 0;
    padding: 0;
}

:root {
    --background: #FFF2E0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background: var(--background);
    scroll-behavior: smooth;
}

@keyframes wonkey {
    from {
        rotate: -10deg; 
    }

    to {
        rotate: 10deg; 
    }
}

body {
    margin: auto;
    padding: 0 20px;
}

section {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h1 {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    color: hsl(0, 0%, 20%);
}

img {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    filter: drop-shadow(8px 8px 2px hsl(0, 0%, 30%));
    animation-duration: 1s;
    animation-name: wonkey;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.countdown {
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    background: linear-gradient(45deg, hsl(360, 80%, 90%), hsl(220, 40%, 90%));
    border-radius: 5px;
    box-shadow: 8px 8px 8px hsl(0, 0%, 30%);
    display: flex;
    flex-direction: row;
}

.countdown div {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.countdown div span {
    font-size: 2rem;
    color: hsl(0, 0%, 40%);
}

.label {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    background: transparent;
    background-color: transparent;
}

@media (max-width: 48rem) {
    .countdown div span {
        font-size: 1.5rem;
    }
    section h1 {
        font-size: 1.5rem;
    }

    img {
        width: 80%;
    }

    .label {
        font-size: 0.875rem;
    }
}

@media (max-width: 30rem) {
    .countdown div {
        margin: 0 0.25rem;
    }

    .countdown div span {
        font-size: 1.25rem;
    }

    .label {
        font-size: 0.75rem;
    }
}

/* ####### page under construction ####### */

